html,
body {
    height: 100vh;
    width: 100vw;
}

#nav-bar {
    height: 7vh;
    display: block;
}

.app-section {
    top: 7vh;
    height: 93vh;
}

.side-nav-icon {
    padding: 8px 20px 8px 14px;
}

.side-nav-divider {
    margin: 5px 28px -12px 28px;
    padding: 10px 0px;
    top: 50px;
}