html,
body {
    height: 100vh;
    width: 100vw;
}

.no-click-effect:focus,
.no-click-effect:hover,
.no-click-effect:active {
    background-color: white !important;
}

.no-click-effect-black:focus,
.no-click-effect-black:hover,
.no-click-effect-black:active {
    background-color: black !important;
    color: white !important;
}

.button-primary:visited,
.button-primary:hover {
    color: #2196F3 !important
}

.app-div {
    position: absolute;
    top: 0px;
    left: 0px;
    top: 39px;
    height: calc(100vh - 39px);
    width: 100vw;
    z-index: 0;
}

.app-section,
#app-splash {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    transition: opacity .4s ease-out;
    z-index: 0;
}

.side-nav-icon {
    padding: 8px 20px 8px 14px;
}

.side-nav-divider {
    margin: 5px 28px -12px 28px;
    padding: 10px 0px;
    top: 50px;
}

.user-icon {
    height: 50px;
    width: 50px;
    color: white;
    background-color: rgb(30, 234, 165);
}

.user-icon-text {
    font-weight: 500;
    font-size: 24px;
    margin: 5px 0px;
}

#app-splash {
    z-index: 1;
}

#side-nav {
    display:none;
    z-index:4;
    width: 75vw;
    /* opacity: .8; */
}

#map-div {
    z-index: 1;
}

#alert-group-div {
    z-index: 4;
}

#invite-form label {
    font-weight: 600;
}

#nav-bar {
    /* height: 7vh; */
    display: block;
}

#nav-header {
    margin-left: 52px;
    width: calc(100vw - 104px);
    /* height: 6.6vh; */
}

#nav-button {
    padding-top: 4px;
}

#manage-group-user-div {
    padding: 20px 8px 0px 8px;
}

#manage-group-user-div .username-text,
#manage-group-user-div .user-email-text {
    margin: 0 6px;
}

#manage-group-user-div .username-text {
    font-weight: 600;
    font-size: 18px;
}

#alert-group-context-menu {
    top: 45%;
    width: 80vw;
    opacity: .85;
}

#alert-group-context-menu hr {
    margin: 0;
}

#alert-group-context-menu a {
    margin: 4px 0px;
    color: #3399FF;
}

#login-form input {
    margin: 10px 0px;
    opacity: 0;
    transition: opacity .4s ease-out;
}

#login-form-input-div {
    margin-top: 55vh;
    padding: 0px 10px;
}

#login-form-image {
    position: absolute;
    margin-top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-form-image.move {
    transition: margin-top 0.25s ease;
    margin-top: 33vh !important;
}